# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.env/
temp/
build/
external/
assets/santa_cruz_flora/images/
assets/santa_cruz_flora/*.csv
apps/*.png

apps/flower_classification/data
*.ipynb_checkpoints
test_space/
apps/gaussian_splat/assets
apps/examples
apps/gaussian_splat
apps/flower_classification/wandb
apps/flower_classification/flower_model_mobilenet.pth
ucsc/seal/venv
ucsc/seal/lightbeam